<%- include('partials/header') %>

<div class="bg1 jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="logo1 display-3">You've Discovered My Secret !</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="st secret-text"><%= user.secret %></p>
    <% }); %>

    <hr>
    <a class="btc btn btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btc btn btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
